<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Page Wrapper -->
    <div id="page-wrapper"> 

      {% include header.html %}

      <article id="main">

        <header>
          <h2>{{ page.title }}</h2>
          <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
        </header>

        <section class="wrapper style5">
          <div class="inner">
            {{ content }}
          </div>
        </section>

      </article>

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>